<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/update.css}" rel = "stylesheet"/>
    <title>Update Employee</title>
</head>
<body>
    <div class="mainBody" th:object="${employee}">
        <h4>Update Information</h4>
        <a class="goUpdate" th:href="@{/formEmployee/{matricule}(matricule=${employee.matricule})}">Return to employee's information</a>
        <form action="#" th:action="@{/updateEmp/{matricule}(matricule=${employee.matricule})}"  method="post" enctype="multipart/form-data">
            <label th:text="FirstName"/>
            <input type="text" name="name" th:value="*{firstName}" required/>

            <label th:text="LastName"/>
            <input type="text" name="lastName" th:value="*{lastName}" required/>

            <label th:text="BirthDate"/>
            <input type="date" name="birthDate" th:value="*{birthDate}" required/>

            <label th:text="Image"/>
            <input type="file" name="Img"/>

            <label for="genderChoose">Choose a gender :</label>
            <select id="genderChoose" name="gender">
                <option value=""></option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>

            <label for="cspChoose">Choose csp :</label>
            <select id="cspChoose" name="csp">
                <option value=""></option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
                <option value="OS1">OS1</option>
                <option value="OS2">OS2</option>
                <option value="OS3">OS3</option>
                <option value="OP1">OP1</option>
            </select>

            <label th:text="Address"/>
            <input type="text" name="address" th:value="*{address}" required/>

            <label th:text="EmailPro"/>
            <input type="email" name="emailPro" th:value="*{emailPro}" required/>

            <label th:text="EmailPerso"/>
            <input type="email" name="emailPerso" th:value="*{emailPerso}" required/>

            <label th:text="Role"/>
            <input type="text" name="role" th:value="*{role}" required/>

            <label th:text="Children"/>
            <input type="number" name="child" th:value="*{child}" required/>

            <label th:text="EmployementDate"/>
            <input type="date" name="employementDate" th:value="*{employementDate}"/>

            <label th:text="DepartureDate"/>
            <input type="date" name="departureDate" th:value="*{departureDate}"/>

            <label>Numéro Cnaps :</label>
            <input type="text" name="cnaps" th:value="*{cnaps}" required/>

            <label>Phone number (comma-separated):</label>
            <input type="text" name="phoneNumbers" required/>

            <label th:text="Cin"/>
            <input type="text" name="cinNumber" th:value="*{cin}" required/>
            <input type="submit" value="Submit" class="btnSubmit"/></td>
        </form>
    </div>
</body>
</html>